<% if current_page?(new_user_sign_in_path) %>
  <h2 align="center">Sign in</h2>
<% elsif current_page?(new_user_session_path)%>
  <h2 align="center">Admin Sign in</h2>
<% end %>
<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th colspan="2">Sign In</th>
      </tr>
      </thead>
      <tr>
        <td> <%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", size: 40 %></td>
      </tr>
      <tr>
        <td colspan="2"><% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          <% end %></td>
      </tr>
    </table>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-dark"%>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>