<div class="container">
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :maxlength=>"50"%>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :maxlength=>"50" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40, :maxlength=>"255" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", size: 40, :minlength=>"6" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 40, :minlength=>"6" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, User.genders.keys, {} %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, cols: "40", rows: "4", :maxlength=>"300"%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
  <!-- Moved "Destroy" action to edit view so user can accurately delete the relevant user!-->
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to "Back", :back %>
</div>