<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th colspan="2">New Order</th>
    </tr>
    </thead>
   <tr>
     <td><%= f.label :order_date %></td>
     <td><%= f.date_select :order_date, include_blank: true, default: nil, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), start_year: Date.today.year - 10, class: 'form-control' %></td>
   </tr>
    <tr>
      <td><%= f.label "Movie Copies" %></td>
      <td><% f.hidden_field :movie_copy_ids %>
        <%= f.collection_select :movie_copy_ids, MovieCopy.all, :id, :barcode, {}, {multiple: true,  style: "width: 75%", class: 'template-example'} %></td>
    </tr>
  </table>

  <div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>